<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{ title }}</title>
            <style>
            @page {
                @bottom-center {
                    content:url(reports/footer.png);
                }
            }
        .right-aligned {
            float: right;

            margin-left: 10px;
            height: 100px;
        }
        .right-aligned-old {
            float: right;
            margin-left: 10px;
            width: 10%
        }

        
        </style>
</head>
<body>
    <div>
    <img src="reports/SFLLSpringLetter.png" style="width: 100%;" alt="SFLL Logo">
    </div>

<img src="reports/{{ team_name }}.png" class="right-aligned"> 
    <h2>{{ division_name }} Division<br>{{ team_name }} - ({{ team_number }}) Schedule  </h2>

     {{ division_data }}
    <br>
    <b>Rookie through Majors:<b>
    <ul>
    <li>Playoffs - Start in Week 10 - May 6th
    <li>Championship Weekend - June 3rd and 4th
    </ul>
    <br>
     <b>Notes:</b><br>
     <ul>
     <li>Families should show up /before/ field times to account for parking and warmups. (ask coaches for team expectations)
     <li>Field Start is when teams should take the field for practice.
     <li>Game Start is when first pitch should happen.
     <li>Be mindful of daylight and start unlit field games ASAP when the sun set is near your game end.
     <li>Juniors Playoffs and Championship game dates tbd.

     </ul>
     Schedule Version: {{ now }}
</body>
</html>